<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>web.servlet.MainFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>web.servlet.CategoryFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>web.servlet.ProductFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemFormServlet</servlet-name>
        <servlet-class>web.servlet.ItemFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemFormServlet</servlet-name>
        <url-pattern>/itemForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartFormServlet</servlet-name>
        <servlet-class>web.servlet.CartFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartFormServlet</servlet-name>
        <url-pattern>/cartForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>web.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>web.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>web.servlet.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/removeCartItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>web.servlet.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewOrderServlet</servlet-name>
        <servlet-class>web.servlet.NewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOrderServlet</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>web.servlet.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>web.servlet.SearchProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/searchProducts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOnFormServlet</servlet-name>
        <servlet-class>web.servlet.SignOnFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOnFormServlet</servlet-name>
        <url-pattern>/signOnForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOnServlet</servlet-name>
        <servlet-class>web.servlet.SignOnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOnServlet</servlet-name>
        <url-pattern>/signOn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterFormServlet</servlet-name>
        <servlet-class>web.servlet.RegisterFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterFormServlet</servlet-name>
        <url-pattern>/registerForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditFormServlet</servlet-name>
        <servlet-class>web.servlet.EditFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFormServlet</servlet-name>
        <servlet-class>web.servlet.ChangeFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditFormServlet</servlet-name>
        <url-pattern>/editForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFormServlet</servlet-name>
        <url-pattern>/changeForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerificationCode</servlet-name>
        <servlet-class>web.servlet.VerificationCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificationCode</servlet-name>
        <url-pattern>/verificationCode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTheOrder</servlet-name>
        <servlet-class>web.servlet.GetTheOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTheOrder</servlet-name>
        <url-pattern>/getTheOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOutFormServlet</servlet-name>
        <servlet-class>web.servlet.SignOutFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOutFormServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
</web-app>